
h1 {
    color: rgb(45, 45, 223);
    font-family: verdana;
    text-align:center;
    background: linear-gradient(to right, rgb(235, 86, 0) rgb(255, 255, 255));  
    padding: 10px;

}
p {
    font-family: courier;
    border: 2px solid;
    color:hsl(203, 82%, 34%);
    
}

h3{
    font-family: Verdana;
    color:hsl(203, 82%, 34%);
    background: linear-gradient(to left, rgb(211, 126, 77) rgb(255, 94, 0));  
}
